/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1;
  } */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES */
* {
  box-sizing: border-box;
  /* border: 1px solid gray; */
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Architects Daughter', cursive;
}
body, button {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Architects Daughter', cursive;
}


/* Add CSS styling here */

h1, h2 {
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  padding: 1%;
}

h2 {
  font-size: 4rem;
}

span {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

nav {
  display: flex;
  justify-content: center;

}
nav a {
  display: inline-block;
  width: 10%;
  text-align: center;
  text-decoration: none;
  padding: 1% 0;
  color: black;
  border: 2px solid black;
  min-width: 10rem;
}

nav a:hover {
  color: white;
  background-color: black;
}

.header-content p {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: #4f4f4f;
}

#wide-img {
  margin: 2% auto;
  height: 40vh;
  background-image:url('../Assets/trevor-cole-vQf7WHG_wns-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flexContainer {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 80%;
  padding: 0;
}

.flexContainer img {
  height: auto;
  width: 25%;
  min-width: 300px;
  /* width: 15vw; */
  /* max-width: 19vw;
  min-width: 10vw; */
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
  background-attachment: fixed;
}

#img-gallery {
  display: inline-flex;
  align-items: center;
  margin: 2% 0;
  max-width: 100%;
}
#img-gallery p {
  padding-right: 4%;
  padding-left: 2%;
  text-align: center;
  width: 20%;
  min-width: 14.2594rem;
  color: #4f4f4f;
}

footer {
  margin-top: 2% 0;
  height: 18rem;
  border-top: 1px solid gray;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-me {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 10%;
  height: 30%;
  padding: 1% 0;
  min-width: 10.6094rem;
}

#contact-me:hover {
  background-color: black;
  color: white;
}

/* Media Queries & Styles for various screen sizes */
@media (max-width: 800px) {
  /* Styles for Tablet portrait */

  /* hero-img styles */
  #wide-img {
    /* margin: 2% 6%; */
    width: 90%;
  }

  /* img-gallery styles */
  #img-gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* width: 90%; */
    /* margin: 0 auto; */
  }
  .flexContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 2% 0;
  }

  .flexContainer img {
    min-width: 250px;
    max-height: 374.9441216px;
    margin: 2%;
  }

  #img-gallery p {
    display: block;
    width: 90%;
    margin: 2% 0;
  }

}

@media (max-width: 500px) {
  /* Styles for  mobile portrait */

  /* nav bar styles */
  nav {
    /* width: 40%; */
    margin: 0 auto;
    position: center;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  nav a {
    width: 30%;
    margin: 2% 0;
  }

  /* header-content styles */
  p#about {
    font-size: 0.1rem;
  }

  /* hero img styles */
  #wide-img {
    height: 25vh;
  }

  /* img gallery styles */
  .flexContainer img {
    width: 20vw;
    min-width: 175px;
    max-height: 262.4608851px;
  }

  /* footer styles */
  footer {
    height: 14rem;
  }
}

